#title {
  font-size:22px;
  padding: 0px 0px 20px 30px;
}

#bigname {
  font-size: 38px;
  padding: 25px 46px 10px 0px;
  color: black;
}

@media(min-width:767px) {
  .navbar {
    padding: 15px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }

}
