.tradewinds {
  font-family: Trade Winds;
}

.stint {
  font-family: Stint Ultra Expanded;
  font-size: 16px;
}

html {
  width: 100%;
  height: 110%;
}

body {
  width: 100%;
  height: 100%;
}

.down {
  margin: 5px 0px 0px 0px;
}

.photopadding {
  padding: 30px 25px 0px 50px;
  border-style: solid;
  border-size: 2px;
  border-color: dodgerblue;
}

.up {
  margin: -25px 0px 0px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.sr-only {
  margin: 5px;
}



.about-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}
