<!-- Services Section -->
<section id="portfolio" class="portfolio-section stint">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tradewinds">What I've built so far :</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project1">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project2">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project3">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project4">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project1">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project2">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project3">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive photopadding" src="https://c1.staticflickr.com/1/820/39125265080_d000d8c55c_b.jpg" target="_blank" alt="project4">
      </div>
    </div>
  </div>
</section>
